.radio-button {
    box-sizing: border-box;
    background-color: #556479;
    text-align: left;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 135px;
    width: 100%;
    display: flex;
}

.radio-button:hover {
    cursor: pointer;
}

.radio-button-selected {
    box-sizing: border-box;
    background-color: #556479;
    text-align: left;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 135px;
    width: 100%;
    display: flex;
    border: solid 2px #E2C47C;
}

.radio-button-selected:hover {
    cursor: pointer;
}

.text {
    align-items: center;
    padding-left: 1rem;
    width: 100%;
}

@media (width <= 430px) {
    .radio-button {
        width: 335px;
    }

    .radio-button-selected {
        width: 335px;
    }

    .text {
        width: 100%;
    }
}