.App {
  text-align: center;
  background-color: #0C233F;
  min-height: 100vh;
  min-width: 100vw;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-beauty-logo {
  margin-top: 2rem;
}

.form-content {
  display: flex;
  justify-content: center;
}