.toggle-button {
    box-sizing: border-box;
    background-color: #556479;
    text-align: left;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 135px;
    width: 500px;
    display: flex;
}

.toggle-button:hover {
    cursor: pointer;
}

.toggle-button-selected {
    box-sizing: border-box;
    background-color: #556479;
    text-align: left;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 135px;
    width: 500px;
    display: flex;
    border: solid 2px #E2C47C;
}

.toggle-button-selected:hover {
    cursor: pointer;
}

.text {
    align-items: center;
    padding-left: 1rem;
    width: 100%;
}

.toggle-button:hover {
    background-color: #394A62;
}

.none-img {
    height: 25px;
    width: auto;
    margin-left: 1rem;
}

@media (width <= 430px) {
    .toggle-button {
        width: 335px;
    }

    .toggle-button-selected {
        width: 335px;
    }

    .text {
        width: 100%;
    }
}