.skip-button {
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 83px;
    width: 100%;
    display: flex;
    border: solid 2px white;
    justify-content: center;
}

.skip-button:hover {
    cursor: pointer;
}

@media (width <= 430px) {
    .skip-button {
        width: 100%;
    }
}